{% extends 'base.html.twig' %}

{% block title %}Administration Cinéphoria{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
                
            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="">Espace d'Administration</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'adminspace/navs.html.twig' %}
        </div>
    </div>
    {{ form_start(form, {action: path('app_room_edit', { id:room.id }) }) }}
    <div class="row">
        <div class="col-12">
            <h2 id="titleEquipes">Modification de la salle {{ room.number|e }}</h2>

            {{ form_rest(form) }}
        </div>
    </div>
    
    <div class="row"><div class="col-12">&nbsp;</div></div>
    
    <div class="row">
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Enregistrer" />
            <a class="btn btn-secondary" href="{{ path('app_adminspace_rooms') }}">Annuler</a>
        </div>
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}



