{% extends 'base.html.twig' %}

{% block title %}Administration Cinéphoria{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
                
            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="">Espace d'Administration</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'adminspace/navs.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="titleEquipes">Modification du film {{ movie.imdbId|e }}</h2>

{{ movie.imdbId|e }}<br />
{{ movie.title|e }}<br />
{{ movie.description|e }}<br />
{{ movie.id }}<br />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary" href="#">Enregistrer</a>
            <a class="btn btn-secondary" href="{{ path('app_adminspace_movies') }}">Annuler</a>
            <a class="btn btn-danger" href="{{ path('app_movies_delete', {id: movie.id}) }}">Supprimer</a>
        </div>
    </div>
            

</div>
{% endblock %}
