{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6">
            <h2 class="mb-4">Formulaire de contact</h2>

            {{ form_errors(contactForm) }}

            {{ form_start(contactForm) }}
                <div class="mb-3">
                    <div class="form-floating gx-2">
                        <input name="{{ field_name(contactForm.name) }}" type="text" class="form-control" />
                        <label for="name" class="form-label">Nom ou compte utilisateur (optionel)</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating gx-2">
                        <input name="{{ field_name(contactForm.title) }}" type="text" class="form-control" required="required" />
                        <label for="title" class="form-label">Titre de votre demande</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating gx-2">
                        <textarea name="{{ field_name(contactForm.description) }}" type="text" class="form-control" required="required" rows="6"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}